.information{
  padding: 110px 0 162px;
  &__content{
    display: flex;
    justify-content: space-between;
  }
  &__title{
    @include text($roboto , normal, bold , 48px , 133.69% , $darkgrey );
    margin-bottom: 24px;
    span{
      color: #EE4248;
    }
  }
  &__text{
    @include text($roboto , normal, normal , 20px , 29px , $lightgrey );
    margin-bottom: 24px;
  }
}